
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>
            <h1><em>@ViewBag.Greeting</em> World!</h1>
        </p>
    </div>
</body>
</html>
